.footer {
  background: #000000;
}

.footer-container {
  position: relative;
  max-width: 60rem;
  padding: 6rem 1rem 3rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: center;
}

.footer-container::before {
  content: "";
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url("/img/detalhe.svg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: -2rem;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.footer-contato li a {
  color: #ffffff;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
