html {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #141414;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header,
main,
section,
footer {
  max-width: 45rem;
}
