.introducao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  align-items: center;
}

.introducao img {
  padding: 0;
  padding-left: 1.5rem;
}

.introducao div {
  position: relative;
  font-size: 1.2rem;
}

.introducao * {
  padding: 0.5rem;
}

.introducao div::before {
  content: "";
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url("/img/detalhe.svg") no-repeat center center;
  background-size: cover;
  position: absolute;
  left: -0.1rem;
  top: -0.5rem;
  z-index: -1;
}

@media (max-width: 800px) {
  .introducao div {
    font-size: 1rem;
  }
  .introducao div::before {
    width: 30rem;
    height: 2rem;
    top: 3.5rem;
    left: -6.6rem;
  }
}

@media (max-width: 650px) {
  .introducao {
    grid-template-columns: auto;
    justify-content: center;
  }
  .introducao img {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 12px;
  }
}
